$font-sans: 'Source Sans Pro', sans-serif;
$font-hind: 'Hind', sans-serif;
$font-fresca: 'Fresca', sans-serif;
$container-width: 1600px;
$card-wrap-width: 1600px;
$background-image: url(../img/m-h-day.jpg);

$map-section-color: (
	btn-color: #699900,
	body-bg-color:#fff,
	section-bg-color:#21232e,
	main-bg-color:#fff,
	txt-color: #878c9a,
	title-color: #000,
	footer-bg-color: #21232e,
	selection-color:#000,
	selection-bg-color:hsl(193, 82%, 43%),
	heading-title-color:#fff,
	logo-bottom-color: #c0c1cb,
	banner-gradient: linear-gradient(to right, #629217, #00945d, #008da8, #007eda, #2e5cd3),
)


