$font-sans: 'Source Sans Pro', sans-serif;
$font-hind: 'Hind', sans-serif;
$font-fresca: 'Fresca', sans-serif;
$container-width: 1600px;
$card-wrap-width: 1600px;
$background-image: url(../img/m-h-night.jpg);

$map-section-color:(
	btn-color: #e3ac00,
	body-bg-color:#21232e,
	section-bg-color:#3b3f50,
	main-bg-color:#21232e,
	txt-color: #fff8f7,
	title-color: #fff,
	footer-bg-color: #3b3f50,
	selection-color:#fff,
	selection-bg-color:#ff4e33,
	heading-title-color:#fff,
	logo-bottom-color: #c0c1cb,
	banner-gradient: linear-gradient(to right, #da9e08, #d97a27, #cc593a, #b43f48, #932e50),
)
