body {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #21232e;
}

a {
  color: white;
}

button, .header_button, .section_banner_button {
  font-family: "Hind", sans-serif;
  color: #fff;
  background-color: #e3ac00;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 42px;
  font-size: 18px;
  font-weight: bold;
}

.landing-logo {
  color: #fff;
}
.landing-logo > img,
.landing-logo > p {
  display: inline-block;
}
.landing-logo > p {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 0 10px;
}
.landing-logo > p > span {
  display: block;
  font-size: 12px;
}

.header {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  padding: 1rem 12rem 5rem 12rem;
  background-image: url(../img/m-h-night.jpg);
  background-size: cover;
  background-position: left;
  max-width: 1600px;
  border-radius: 100% 0% 100% 0%/0% 261% 137% 100%;
}
.header-wrap {
  max-width: 650px;
}
.header_heading {
  font-size: 72px;
  line-height: 72px;
  font-weight: bold;
  margin: 48px 0;
  color: #fff;
}
.header_heading::selection {
  color: #fff;
  background-color: #ff4e33;
}
.header_text {
  font-size: 20px;
  margin: 0 0 67px 0;
  color: #fff;
}
.header_button {
  border-radius: 4px;
}

.login, .section_link {
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0 0 184px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.section {
  position: relative;
  padding: 60px 190px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #21232e;
}
.section_link {
  font-size: 18px;
  font-weight: bold;
  color: #fff8f7;
  margin: 0;
}
.section_text {
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  margin-top: 0;
  color: #fff;
}
.section_text::selection {
  color: #fff;
  background-color: #ff4e33;
}
.section_card {
  border-radius: 6px;
  background-color: #3b3f50;
  color: #fff8f7;
  display: flex;
  padding: 16px;
  margin: 32px 0;
}
.section_card_wrap {
  max-width: 1600px;
  padding: 0 60px 120px 60px;
}
.section_card_img {
  flex-basis: 35%;
}
.section_card_right_container {
  flex-basis: 50%;
  text-align: center;
  margin: 0 auto 32px auto;
}
.section_card_heading, .section_banner_heading {
  font-size: 32px;
  color: #fff;
}
.section_card_text, .section_banner_text {
  font-size: 12px;
}
.section_banner {
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, #da9e08, #d97a27, #cc593a, #b43f48, #932e50);
  max-width: 1600px;
  margin-bottom: -115px;
}
.section_banner_heading {
  color: #fff;
  margin: 16px 0 0 0;
}
.section_banner_heading::selection {
  color: #fff;
  background-color: #ff4e33;
}
.section_banner_button {
  border-radius: 4px;
  height: 60px;
}
.section_banner_text {
  color: #fff8f7;
}

.footer-wrap {
  background-color: #3b3f50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  color: #fff8f7;
  margin: 0 auto;
  padding: 100px 32px 32px 32px;
}
.footer_logo.landing-logo {
  color: #c0c1cb;
}
.footer_text {
  max-width: 324px;
}
